---
language: php
php: 5.6

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq python-apt python-pycurl
  - sudo apt-get remove --purge mysql-server mysql-client mysql-common
  - sudo apt-get autoremove
  - sudo apt-get autoclean
install:
  - sudo pip install ansible
before_script:
  - ansible-playbook -i ansible/inventory/travis ansible/provision.yml
script: make test
